<div class="py-16 lg:py-20">
  <div class="flex items-center pb-6">
    <img src="/assets/img/icon-story.png" alt="icon story" />
    <h3
      class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
    >
      My Blog
    </h3>
    <a
      routerLink="/blog"
      class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary"
    >
      All posts
      <img
        src="/assets/img/long-arrow-right.png"
        class="ml-3"
        alt="arrow right"
      />
    </a>
  </div>

  @for (post of posts; track $index) {
  <div class="pt-10">
    <div class="border-b border-grey-lighter pb-8">
      <span
        class="mb-4 inline-block rounded-full bg-green-light px-2 py-1 font-body text-sm text-green"
        >{{ post.metadata.category }}</span
      >
      <a
        routerLink="/post/{{ post.metadata.slug }}"
        routerLinkActive="active-link"
        class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"
        >{{ post.metadata.title }}</a
      >
      <div class="grid grid-cols-1 gap-2 items-center pt-4">
        <p class="pr-2 font-body font-light text-primary dark:text-white">
          {{ post.metadata.excerpt }}
        </p>
      </div>
      <div class="grid grid-cols-2 gap-2 items-center pt-4">
        <p class="pr-2 font-body font-light text-primary dark:text-white">
          Release Date : {{ post.metadata.date }}
        </p>
        <p class="pr-2 font-body font-light text-primary dark:text-white">
          <b>{{ post.metadata.readLength }} </b>to read.
        </p>
      </div>
    </div>
  </div>
  }
</div>
