<div>
  <div class="container mx-auto">
    <div class="py-16 lg:py-20">
      <div>
        <img src="/assets/img/icon-uses.png" alt="icon uses" />
      </div>
      <h1
        class="pt-5 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
      >
        /uses
      </h1>
      <div class="pr-2 pt-3">
        <span class="font-body text-xl font-light text-primary dark:text-white">
          Inspired by
          <a
            href="https://uses.tech/"
            target="_blank"
            class="border-b border-green"
          >
            <span
              class="font-medium text-green hover:text-secondary dark:text-green-light dark:hover:text-secondary"
              >Wes Bos</span
            >
            and his project,
            <span
              class="font-medium text-green hover:text-secondary dark:text-green-light dark:hover:text-secondary"
              >uses.tech</span
            >.
          </a>
        </span>
      </div>

      <div class="pt-16 lg:pt-20">
        <h3
          class="pb-8 font-body text-2xl font-semibold text-primary dark:text-white"
        >
          Computer + Workspace
        </h3>
        <ul class="list-disc pl-10">
          <li class="font-body text-lg font-light text-primary dark:text-white">
            <span class="font-medium">Computer:</span>
            I use a 2024 14'
            <a
              href="https://www.lenovo.com/nl/nl/p/laptops/thinkpad/thinkpadp/lenovo-thinkpad-p14s-gen-5-14-inch-amd-mobile-workstation/21me000rmh"
              target="_blank"
              class="font-medium text-green underline hover:text-secondary dark:text-green-light dark:hover:text-secondary"
              >Lenovo P14s Gen5</a
            >
            customized (amd 7 pro /32GB/1 tb) for everything (work + personal). Running
            Arch as OS. But I'm also a big fan of headless servers.
          </li>
          <li
            class="pt-5 font-body text-lg font-light text-primary dark:text-white"
          >
            <span class="font-medium">Chair:</span>
            When I sit, I sit on an
            <a
              href="https://www.coolblue.nl/product/922083/corsair-t3-rush-grijs-wit.html"
              target="_blank"
              class="font-medium text-green underline hover:text-secondary dark:text-green-light dark:hover:text-secondary"
              >Corsair T3 Rush</a
            >, but I stand almost 100% of the time, so the chair doesn’t do me
            much good.
          </li>
          <li
            class="pt-5 font-body text-lg font-light text-primary dark:text-white"
          >
            <span class="font-medium">Desk:</span>
            My desk is a
            <a
              href="https://www.ikea.com/nl/en/p/rodulf-desk-sit-stand-white-s59530328/"
              target="_blank"
              class="font-medium text-green underline hover:text-secondary dark:text-green-light dark:hover:text-secondary"
              >RODULF standing desk</a
            >
            If you're looking for a price/performance sit-stand desk, I highly
            recommend Rodulf. Also, ikea is an easy to reach for everyone.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
