<div class="border-b border-grey-lighter py-16 lg:py-20">
  <div class="flex items-center pb-6">
    <img src="/assets/img/icon-story.png" alt="icon story" />
    <h3
      class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
    >
      My Story
    </h3>
  </div>
  <div>
    <p class="font-body font-light text-primary dark:text-white">
      Hello! I'm a passionate software engineer with nearly a decade of
      experience, specializing in banking, e-commerce, payments, cloud
      migration, and lending. Since diving into the world of software in 2015,
      I've honed my skills primarily in Java, tackling complex problems and
      delivering innovative solutions. My professional journey has been a
      thrilling ride, and I thrive on the challenges and excitement each new
      project brings.
      <br />
      <br />
      When I'm not immersed in code, you'll likely find me tinkering away in my
      homelab. There's nothing quite like the satisfaction of a perfectly set up
      hypervisor or the joy of exploring new tech. If you're working on a side
      project or just want to chat about your own cool setups, I'd love to hear
      from you. Let's geek out together and share our latest discoveries and
      successes.
      <br />
      <br />
      Outside of the tech world, I'm a proud father to a wonderful young boy.
      Spending quality time with him is one of my greatest joys, whether we're
      exploring the outdoors or building the latest Lego set. Life is all about
      balance, and I strive to bring the same enthusiasm to both my professional
      and personal life. Don't hesitate to reach out via my contact page—I'm
      always up for a good conversation and new connections!
    </p>
  </div>
</div>
