<div class="border-b border-grey-lighter py-16 lg:py-20">
  <div class="flex items-center pb-6">
    <img src="/assets/img/icon-story.png" alt="icon story" />
    <h3
      class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
    >
      My Story
    </h3>
  </div>
  <div>
    <p class="font-body font-light text-primary dark:text-white">
      **Professional Summary & Technical Expertise**
      <br />
      Hello! I am a dedicated software engineer with almost ten years of experience. 
      I focus on building big computer systems for banking, online shopping, and payment processing. 
      I also work on moving systems to the cloud and crafting code for lending.
      <br />
      Since starting in 2015, I have mainly used Java to design and create new solutions for difficult technical problems.
      I enjoy the fast pace of project development and look forward to chances to make systems run better and faster.
      <br />
      <br />
      **Personal Development & Infrastructure**
      <br />
      When I'm not working, I manage my own homelab setup to keep learning. 
      I usually focus on automating infrastructure, making virtual machines run smoothly,
      and checking out new technologies.
      <br />
      If you are working on your own project or setting up a solid infrastructure, 
      I'm always ready to talk about configurations, share ideas, and connect with other people interested 
      in tech. Let's trade notes on what we've recently built and what worked well.
      <br />
      <br />
      **Work-Life Balance**
      <br />
      Away from tech, I enjoy spending time with my son. I balance my demanding work with personal time, 
      often spent exploring outside or playing with toy cars. (Yes, he's a car person :) )
      <br />
      Please reach out through my contact page ( or hi@kivicko.com ).
      I'm always happy to connect and talk about technical subjects or future projects!
    </p>
  </div>
</div>
